@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Podkova&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Podkova', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(216, 216, 216, 0);
  border-radius: 40px;
  transition: all 2s linear 1s;
}
.sidebar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(216, 216, 216, 1);
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

.activeSidebarMenu {
  color: white;
  background-color: var(--currentColor);
  font-size: 1.1rem;
  font-weight: 500;
}
